.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.text {
    padding: 20px;
}

.btn-reset{
    border: 0;
    outline: 0;
    padding: 10px 40px;
    background-color: #FFEC78;
    border-radius: 30px ;
    transition: all 0.4s ease-in-out;
    margin-top: 20px;

}


.btn-reset:hover{
    cursor: pointer;
    background-color: #e1cd4b;
}

.contain{
    height: 100vh;

}

#table{
    background-color: #96DE5E;
    height: 100vh;
    width: 250px;
    position: fixed;
    left: 0;

}

.circle-arrow{
    border: 1px solid black;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 10px;
    left: 10px;
    
}

i{
    color: black;

}

.circle{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: black;

}

.player-table{
    display: flex;
    align-items: center;
    height: 50px;
    gap: 0.7rem;
    margin-top: 50px;
    margin-left: 50px;

}

.player-table p{
    margin-top: 2px;

}